img {
    border-radius: 10px;
}

.box-shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.img_me {
    border-radius: 50%;
    margin-top: 20px;
    width: 50%;
}

.logo_education {
    border-radius: 50%;
    width: 15%;
}

.line {
    width: 5%;
}

.tamfy_logo {
    width: 40%;
}

.carousel_img_tamfy {
    width: 90%;
}

.carousel_img {
    width: 90%;
}

.carousel_img_2 {
    width: 90%;
}

.carousel_img_3 {
    width: 90%;
}

.carousel_img_mobile {
    width: 50%;
}

@media (min-width: 600px) {
    .tamfy_logo {
        width: 20%;
    }

    .carousel_img_tamfy {
        width: 60%;
    }
    
    .carousel_img_2 {
        width: 70%;
    }

    .carousel_img_3 {
        width: 60%;
    }
}

@media (min-width: 900px) {
    .img_me {
        margin-top: 0;
    }

    .logo_education {
        width: 50%;
    }    

    .line {
        width: 3%;
    }

    .carousel_img {
        width: 70%;
    }

    .carousel_img_2 {
        width: 90%;
    }

    .carousel_img_3 {
        width: 90%;
    }
}